<head>
  <link href="<%= url('/stylesheets/app.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
  <h1>Your bookmarks</h1>
  <div class="container">
    <ul>
    <% @bookmarks.each do |bookmark| %>
      <li><a href="<%= bookmark[:url] %>"><%= bookmark[:title]%></a></li>
    <% end %>
    <br>
     <button type='button'><a href='/'>Back to Home</a></button>
    </ul>
  </div>
</body>